p {
	border-bottom: 2px solid #f1f1f1;
	font-family:  Raleway, sans-serif;
	font-size:  26px;
	font-weight:  800;
	margin-left: 1.66%;
	padding-bottom: 20px;
	text-transform: uppercase;
	width: 60%;
}

img {
	float: left;
	margin: 1.66%;
	width: 30%;
}