DOCTYPE
  head
    title Todo List
    script(type="text/javascript" src="assets/js/lib/jquery-3.2.1.min.js")
    link(type="text/css" rel="stylesheet" href="assets/css/styles.css" )
  body
    #container
      h1 TO-DO LIST
      input(type="text")
      ul
        li 
          span X
          |  Go to potions class
        li 
          span X
          |  Buy new robes
        li
          span X
          |  Visit Hagrid
    
    script(type="text/javascript" src="assets/js/main.js")
    
